
/*--------------------------------------------------------------
# Custom Helper Classes
--------------------------------------------------------------*/

.white  {
	color: #FFFFFF;
}

.gray {
	color: #6D6E71;
}

.red {
	color: red;
}

.blue {
	color: blue;
}

.bluebg {
	background-color: #002440;
}

.whitebg {
	background-color: white;
}

.graybg {
	background-color: #ECECEC;
}

.pt0 {
	padding-top: 0rem;
}

.pb0 {
	padding-bottom: 0rem;
}

.pt1 {
	padding-top: 1rem;
}

.pb1 {
	padding-bottom: 1rem;
}

.pt2 {
	padding-top: 2rem;
}

.pb2 {
	padding-bottom: 2rem;
}

.pt3 {
	padding-top: 3rem;
}

.pb3 {
	padding-bottom: 3rem;
}

.pt4 {
	padding-top: 4rem;
}

.pb4 {
	padding-bottom: 4rem;
}

.pt5 {
	padding-top: 5rem;
}

.pb5 {
	padding-bottom: 5rem;
}

.mt0 {
	margin-top: 0rem;
}

.mb0 {
	margin-bottom: 0rem;
}

.mt1 {
	margin-top: 1rem;
}

.mb1 {
	margin-bottom: 1rem;
}

.mt2 {
	margin-top: 2rem;
}

.mb2 {
	margin-bottom: 2rem;
}

.mt3 {
	margin-top: 3rem;
}

.mb3 {
	margin-bottom: 3rem;
}

.mt4 {
	margin-top: 4rem;
}

.mb4 {
	margin-bottom: 4rem;
}

.mt5 {
	margin-top: 5rem;
}

.mb5 {
	margin-bottom: 5rem;
}

.nopad {
	padding-left: 0px;
	padding-right: 0px;
}
