
/*--------------------------------------------------------------
# Images
--------------------------------------------------------------*/

img {
	height: auto; /* Make sure images are scaled correctly. */
	width: 100%; /* Adhere to container width. */
}

img.attachment-thumbnail, img.attachment-medium, img.attachment-large, img.attachment-full {
	height: auto;
	width: auto;
}
